.post__wrapper{
    padding:10px;
}

.post{
   &__title{
      font-size: medium;
      font-weight: 500;
      margin-bottom: 3px;
      margin-top: 3px;
    }
    &__contents{
      color: rgba(1, 15, 1, 0.75); 
    }
}

.comment__wrapper{
  padding:10px; 
  display: flex;
  flex-direction: column;

}

.comment{
  &__input{
    display: flex;
    flex-direction: row;

  } 
  &__list{
    margin:10px;
  }
}