<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs/main"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="post__wrapper">
    <div class="post" *ngIf="post">
      <div class="post__top">
        <div class="post__user">{{post.userNick}}</div>
        <ion-button *ngIf="isWriter" fill="clear" (click)="deletePost()">
          삭제
        </ion-button>
      </div>
      <div class="post__title">{{post.title}}</div>
      <div class="post__contents" [innerHTML]="post.htmlContents">
        <!-- {{post.htmlContents}} -->
      </div>
      <div class="post__date">{{post.createdAt | date: "YY/MM/dd HH:mm"}}</div>
    </div>
  </div>
  <hr />
  <div class="comment__wrapper">
    <div class="comment" *ngFor="let comment of commentList">
      <div class="comment__user">
        <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
        {{comment.userNick}}
      </div>
      <div class="comment__contents">{{comment.contents}}</div>
      <div class="comment__date">
        {{comment.createdAt | date: "YY/MM/dd HH:mm"}}
      </div>
    </div>

    <div class="comment__input">
      <ion-input
        placeholder="댓글을 입력하세요"
        [(ngModel)]="comment"
      ></ion-input>
      <ion-button
        (click)="submitComment()"
        [disabled]="comment===''"
        fill="clear"
      >
        <ion-icon name="paper-plane-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
