<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <h2>클로버 수세미 세트</h2>  
 <div class="info__wrapper">
    <div class ="image__wrapper">
      <img src='https://picsum.photos/250/250'>
    </div>
    <div class ="content__wrapper">
      <div>회사 : 케구리 개꿀아님</div>
      <div>혼용률 : 폴리에스터 100%</div>
      <div>바늘 호수 : 폴리에스터 100%</div>
      <div>무게 : 폴리에스터 100%</div>
    </div>
  </div>
  <div class ="link">
    <div>판매 링크</div>
    <div> > 쿠팡 바로가기 </div>
  </div>

  <div class="review__wrapper">
    <h3> 실 리뷰 </h3>
    <div class="card"> 
      <ion-card>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>ion-item in a card, icon left, button right</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
        <ion-card-content>
          This is content, without any paragraph or header tags,
          within an ion-card-content element.
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>

