<div class="star_rating">
  <ion-button
    fill="clear"
    class="rate-button"
    *ngFor="let index of iconsArray"
    id="{{ index }}"
    (click)="changeRating($event)"
  >
    <ion-icon
      [ngStyle]="{
        color: index < parseFloat(rating) ? activeColor : defaultColor,
        'font-size': fontSize
      }"
      name="{{
        halfStar === 'true' && rating - index > 0 && rating - index <= 0.5
          ? halfIcon
          : index < round(parseFloat(rating))
          ? activeIcon
          : defaultIcon
      }}"
    ></ion-icon>
  </ion-button>
</div>
