.toolbar {
  --background: white;
}

img {
  width: 100%;
}

.name__wrapper {
  font-family: "Pretendard-Medium";
  font-size: 24px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.info__wrapper {
  font-family: "Pretendard-Light";
  font-size: 16px;
  margin: 3px 10px;
  padding: 3px 10px;
  hr {
    margin: 10px 0px;
    padding: 0px;
    color: var(--ion-color-theme-shade);
  }
  div {
    font-family: "Pretendard-Light";
    margin: 2px 0px;
    padding: 2px 0px;
  }
  .price {
    font-size: 18px;
    //float: right;
    span {
      font-size: 26px;
      font-family: "Pretendard-Bold";
    }
  }
  .name {
    font-size: 17px;
    font-family: "Comfortaa";
    font-weight: 700;
  }
  span {
    font-family: "Pretendard-Regular";
    font-size: 18px;
  }
}

.link__wrapper {
  font-family: "Pretendard-Light";
  font-size: 16px;
  margin: 3px 10px;
  padding: 3px 10px;
  a {
    font-family: "Pretendard-Light";
  }
  div {
    font-family: "Pretendard-Light";
  }
}

.review__wrapper {
  font-family: "Pretendard-Light";
  font-size: 16px;
  margin: 3px 10px;
  padding: 3px 10px;
  font-family: "Pretendard-Light";
}

.difficulty {
  display: flex;
  flex-direction: row;
  ion-icon {
    color: var(--ion-color-theme);
  }
}
