.toolbar {
  --background: white;
}

img {
  width: 100%;
}

.name__wrapper {
  font-family: "Pretendard-Medium";
  font-size: 24px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.info__wrapper {
  font-family: "Pretendard-Light";
  font-size: 16px;
  margin: 3px 10px;
  padding: 3px 10px;
  hr {
    margin: 10px 0px;
    padding: 0px;
    color: var(--ion-color-theme-shade);
  }
  div {
    font-family: "Pretendard-Light";
    margin: 2px 0px;
    padding: 2px 0px;
  }
  .price {
    font-size: 18px;
    //float: right;
    span {
      font-size: 26px;
      font-family: "Pretendard-Bold";
    }
  }
  .name {
    font-size: 17px;
    font-family: "Comfortaa";
    font-weight: 700;
  }
  span {
    font-family: "Pretendard-Regular";
    font-size: 18px;
  }
}

.link__wrapper {
  font-family: "Pretendard-Light";
  font-size: 16px;
  margin: 10px 3px 20px 10px;
  padding: 3px 10px;
  a {
    font-family: "Pretendard-Light";
    margin-bottom: 10px;
  }
  div {
    font-family: "Pretendard-Light";
  }
}

.review {
  font-family: "Pretendard-Light";
  font-size: 16px;
  margin: 3px 10px;
  padding: 3px 10px;
  font-family: "Pretendard-Light";

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h4 {
      margin: auto 0;
    }
    ion-button {
      padding: 0;
    }
  }
}

.difficulty {
  display: flex;
  flex-direction: row;
  ion-icon {
    color: var(--ion-color-theme);
  }
  span {
    margin-right: 8px;
    padding-top: 3px;
    font-family: "Pretendard-Light";
    font-size: 16px;
  }
  &__text {
    margin-right: 10px;
  }
  &__bar {
    margin-left: 10px;
  }
}
