.toolbar {
  --background: #95c597;
}

ion-content{
  
}


ion-button {
  --background: var(--ion-color-theme);
}

.top{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding:10px;

   &__title{
    font-size: 25px;
    font-weight: 900;
   }
   &__button{

   }
}

.community__wrapper{
  display: flex;
  flex-direction: column;
  width:100%;
  padding-top: 10px;

}


