.toolbar {
  --background: #95c597;
}

.top{
  flex-direction: row;
  display: flex;
  justify-content: space-between;

   &__title{
    font-size: 25px;
    font-weight: 900;
   }
   &__button{

   }
}

.community__wrapper{
  display: flex;
  flex-direction: column;
  width:100%;

  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}


.post__wrapper{
  flex-direction: column;

  .postList{
    // background-color: rgb(220, 220, 227); 
  }

  .post{
    margin:10px;
    background-color: rgb(202, 211, 202); 

    &__title{
      font-size: medium;
      font-weight: 500;
    }


  }
}