<app-toolbar></app-toolbar>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshCommunity($event)">
    <ion-refresher-content pullingIcon="" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <!-- <ion-button (click)="getRecommendPatternList()"> 추천 목록 조회 </ion-button> -->
  <!-- <div>
        response : {{ result }}
    </div> -->
  <div class="community__wrapper">
    <div class="top">
      <ion-chip color="success">전체</ion-chip>
      <ion-chip color="success">인기</ion-chip>
      <ion-chip color="success">전시</ion-chip>
      <ion-chip color="success">정보</ion-chip>
      <ion-chip color="success">자유</ion-chip>
    </div>
    <app-post-list [postList]="postList"> </app-post-list>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="write()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
