<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button class="back" (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="save" (click)="saveUserInfo()"> 저장 </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="mypage__wrapper">
    <div class="nickname" *ngIf="user">
      <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
      <div class="nickname__text">{{ user.nick }}</div>
      <ion-button
        class="outline"
        fill="outline"
        slot="clear"
        (click)="openChangeNickAlert()"
        *ngIf="!isChangeNickName"
      >
        닉네임 변경하기
      </ion-button>
    </div>

    <div class="preference">
      <h4>선호 바늘</h4>
      <div class="prefernece__checkbox">
        <ion-item lines="none">
          <ion-checkbox
            slot="start"
            [(ngModel)]="userPreferForShow.crochet"
            (ionChange)="onChangeCrochet($event)"
          ></ion-checkbox>
          <ion-label>코바늘</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-checkbox
            slot="start"
            [(ngModel)]="userPreferForShow.knitting"
            (ionChange)="onChangeKnitting($event)"
          ></ion-checkbox>
          <ion-label>대바늘</ion-label>
        </ion-item>
      </div>
    </div>

    <div class="difficulty">
      <h4>숙련도</h4>
      <ion-select
        (ionChange)="handleChange($event)"
        [value]="userPreferForShow.proficiency.toString()"
      >
        <ion-select-option value="0">초보</ion-select-option>
        <ion-select-option value="1">중수</ion-select-option>
        <ion-select-option value="2">고수</ion-select-option>
      </ion-select>
    </div>

    <div class="category">
      <div class="category__title">
        <h4>선호 카테고리</h4>
        <ion-button
          class="outline"
          fill="outline"
          slot="clear"
          (click)="selectPatternAttribute()"
          >선호 카테고리 변경</ion-button
        >
      </div>
      <div
        class="category__list"
        *ngFor="let el of patternAttributeListForShow"
      >
        <div class="chip" color="success">{{el.attribute}}</div>
      </div>
    </div>

    <div class="logout">
      <ion-button class="outline_n_fill" fill="outline" (click)="logout()">
        로그아웃하기
      </ion-button>
    </div>
  </div>
</ion-content>
