<div>
  <ion-list *ngIf="patternList" class="list__wrapper">
    <div *ngFor="let pattern of patternList" class="card__wrapper">
      <app-heart-image
        [product]="pattern"
        [setWidth]="'30vw'"
        [setHeight]="'37vw'"
        [type]="'pattern'"
      ></app-heart-image>
      <div class="card__text">{{ pattern.name | preview: 12:"none" }}</div>
    </div>
  </ion-list>

  <div class="button-wrapper" *ngIf="isButton">
    <ion-button
      class="outline"
      fill="outline"
      (click)="goRecommendPatternPage()"
      >나를 위한 추천 더보기</ion-button
    >
  </div>
</div>
