<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        defaultHref="tabs/main"
        icon="chevron-back-outline"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="review__wrapper">
    <h4>패턴 리뷰</h4>
    <div *ngIf="patternReviewList.length > 0">
      <app-review-list
        [reviewList]="patternReviewList"
        [isGoDetail]="true"
      ></app-review-list>
    </div>
    <h4>실 리뷰</h4>
    <div *ngIf="yarnReviewList.length > 0">
      <app-review-list
        [reviewList]="yarnReviewList"
        [isGoDetail]="true"
      ></app-review-list>
    </div>
  </div>
</ion-content>
