<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button class="custom-back" (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="sign-in-form">
            <div text-center>
              <h4>Froggy에 로그인하세요!</h4>
            </div>
            <ion-item>
              <ion-input
                name="id"
                type="id"
                placeholder="id"
                formControlName="id"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                name="password"
                type="password"
                placeholder="Password"
                formControlName="password"
              ></ion-input>
            </ion-item>
            <div class="button-wrapper">
              <ion-button class="outline" fill="outline" type="submit">
                로그인
              </ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
