.toolbar {
  --background: #95c597;
}

.button__wrapper{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top:30px;
}



ion-button {
  --background: var(--ion-color-theme);
}
