.postList{
  flex-direction: column;
  display: flex;

  .post{
    margin:10px;
    background-color: rgb(202, 211, 202); 
    padding:3px;
    
    &__title{
      font-size: medium;
      font-weight: 500;
      margin-bottom: 3px;
      margin-top: 3px;
    }
    &__contents{
      color: rgba(1, 15, 1, 0.75); 
    }


  }
}