.postList {
  flex-direction: column;
  display: flex;

  .post {
    background-color: white;
    &__textbox {
      padding: 3px 10px 10px 10px;
      margin: 0px 10px 10px 10px; // top 부터 시계방향
    }
    &__infobox {
      padding: 7px 10px;
      margin: 7px 10px;
      font-size: 13px;
    }

    &__category {
      margin: 15px 10px 0px 10px;
    }

    &__title {
      font-size: 15px;
      font-family: "Pretendard-Regular";
      margin-bottom: 7px;
    }
    &__contents {
      color: rgba(1, 15, 1, 0.75);
      font-size: 15px;
      font-family: "Pretendard-Light";
      margin-bottom: 20px;
    }
    &__small__info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: rgba(1, 15, 1, 0.75);
      font-size: 12px;
      div {
        font-family: "Pretendard-Light";
      }
    }

    &__bottom {
      display: flex;
      flex-direction: row;
      font-size: 14px;
      font-family: "Pretendard-Light";

      &__icon {
        display: flex;
        margin-right: 9px;
        color: rgba(1, 15, 1, 0.75);
        ion-icon {
          margin: auto;
          padding-right: 2px;
        }
        span {
          font-family: "Pretendard-Light";
        }
      }
    }
  }
}

.divider {
  height: 5px;
  background-color: rgba(1, 15, 1, 0.113);
  border: 0px;
}
