<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="server-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="pattern">
     <ion-icon name="dice-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="community">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
