<ion-tabs #tabs (ionTabsDidChange)="handleTabsChange($event)">
  <ion-tab-bar slot="bottom" class="tab-bar">
    <ion-tab-button tab="main">
      <!-- <ion-icon name="home-outline"></ion-icon> -->
      <ion-label>main</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="yarn">
      <!-- <img
        *ngIf="!isYarnIconSelected"
        src="../../assets/yarn.png"
        class="tab-icon"
      />
      <img
        *ngIf="isYarnIconSelected"
        src="../../assets/yarn_filled.png"
        class="tab-icon"
      /> -->
      <ion-label>yarn</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="pattern">
      <!-- <img
        *ngIf="!isPatternIconSelected"
        src="../../assets/textiles.png"
        class="tab-icon"
      />
      <img
        *ngIf="isPatternIconSelected"
        src="../../assets/textiles_filled2.png"
        class="tab-icon"
      /> -->
      <ion-label>pattern</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="community">
      <!-- <ion-icon name="chatbubbles-outline"></ion-icon> -->
      <ion-label>community</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
