ion-tab-bar {
  --color-selected: var(--ion-color-theme);
}
ion-tab-button {
  background-color: white;
}

.tab-icon {
  width: 30px;
  height: 30px;
}

ion-label {
  font-family: "Comfortaa";
  letter-spacing: -0.4px;
}
