.toolbar {
  --background: white;
}

.mypage__wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Pretendard-Light";
}

.chip {
  font-family: "Pretendard-Light";
  font-size: 15px;
  border-radius: 100px;
  margin: 4px;
  padding: 6px 12px;
  color: rgb(37, 54, 37, 0.8);
  background: var(--ion-color-theme-light);
}

ion-select-option {
  --font-family: "Pretendard-Light";
}
.save {
  font-size: 17px;
  --color: var(--ion-color-theme);
}
.back {
  --color: var(--ion-color-theme);
}

.nickname {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;

  ion-icon {
    margin: auto 0;
    width: 15vw;
    height: 15vw;
  }

  &__text {
    margin: auto 0;
    font-size: 7vw;
  }

  &__change {
    &__btn1 {
      margin: auto;
    }
    &__input {
      display: flex;
      flex-direction: row;
    }
  }
}

.prefernece__checkbox {
  display: flex;
  flex-direction: row;

  margin-right: 10px;

  ion-checkbox {
    margin-right: 5px;
    --background-checked: var(--ion-color-theme);
    --border-checked: var(--ion-color-theme);
  }
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid var(--ion-color-theme);
  }
}

.logout {
  margin-top: 30px;
}
.category {
  &__title {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
  &__list {
    display: inline-block;
  }
}
