<div class="photo">
  <div class="photo__text" *ngIf="imagesForDisplay.length === 0">
    사진을 추가해 주세요
  </div>
  <div class="photo__list">
    <div class="photo__list__images" *ngIf="imagesForDisplay.length > 0">
      <div
        class="photo__list__image"
        *ngFor="let imageData of imagesForDisplay; index as i"
      >
        <img src="{{ imageData.image }}" />
        <div
          class="button button__delete-btn"
          (click)="deleteImage(i)"
          click-stop-propagation
        ></div>
      </div>
    </div>
    <ion-icon (click)="openUserPhotoLibrary()" name="add-outline">
      <input
        #fileInput
        style="display: none"
        type="file"
        accept="image/*"
        (change)="getImageWeb(fileInput.files)"
        multiple
      />
      <ion-icon name="add-outline"></ion-icon>
      <p class="f_cMain f_s14 f_w700">파일을 추가해 주세요</p>
    </ion-icon>
  </div>
</div>
