<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="title">
    <ion-item>
      <ion-label>글 제목</ion-label>
      <ion-input
        type="text"
        (ionChange)="onChangeTitle($event)"
        placeholder="제목을 입력하세요"
        ngDefaultControl
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>카테고리</ion-label>
      <ion-select (ionChange)="onChangeCategory($event)" [value]="toString()">
        <ion-select-option value="자유">자유</ion-select-option>
        <ion-select-option value="정보">정보</ion-select-option>
        <ion-select-option value="홍보">홍보</ion-select-option>
        <ion-select-option value="방명록">방명록</ion-select-option>
        <ion-select-option value="노래방">노래방</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="content">
    <div style="display: none" class="invisible-input-cont">
      <input #quillFile type="file" (change)="quillFileSelected($event)" />
    </div>
    <quill-editor
      #quillEditorRef
      (onEditorCreated)="getMeEditorInstance($event)"
      (onContentChanged)="onChangeContent($event)"
      [modules]="editorModules"
    ></quill-editor>
  </div>

  <div class="button__wrapper">
    <ion-button
      [disabled]="!isValidPost"
      class="outline_n_fill"
      fill="outline"
      (click)="submitPost()"
    >
      작성하기
    </ion-button>
  </div>
</ion-content>
