<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="{{yarn.thumbnail}}" />
  <div class="info__wrapper">
    <div>회사 <span>{{yarn.yarnCompanyName}}</span></div>
    <div class="name">{{yarn.name}}</div>
    <div>gaugeDivisor : {{yarn. gaugeDivisor}}</div>
    <div>무게 : {{yarn.grams}}g</div>
  </div>

  <div class="link__wrapper">
    <h4>판매 링크</h4>
    <div class="link__list" *ngIf="yarn.yarnCompanyName">
      <a href="{{yarn.yarnCompanyUrl}}" target="_blank"
        >{{yarn.yarnCompanyName}} 바로가기</a
      >
    </div>
  </div>

  <div *ngIf="pattern.downloadable" class="link__wrapper">
    <h4>판매 링크</h4>
    <a href="{{pattern.url}}" target="_blank">{{pattern.url}}</a>
  </div>
  <hr />
  <div class="review">
    <div class="review__title">
      <h4>실 리뷰</h4>
      <ion-button class="outline" fill="outline" (click)="writeReview()">
        리뷰 작성하기
      </ion-button>
    </div>
    <div class="review__info">
      <div class="review__info__star">
        <span><ion-icon name="star"></ion-icon></span>
        <span><ion-icon name="star"></ion-icon></span>
        <span><ion-icon name="star"></ion-icon></span>
        <span><ion-icon name="star-outline"></ion-icon></span>
        <span><ion-icon name="star-outline"></ion-icon></span>
      </div>
      <div class="review__info__name">akinakamori</div>
      <div class="review__info__date">1965.07.13</div>
    </div>
    <div class="review__text">
      핏도 예쁘고, 디자인도 마음에 들어요. 163cm 53kg기준 레귤러 핏이었습니다.
    </div>
    <hr />
    <div class="review__info">
      <div class="review__info__star">
        <span><ion-icon name="star"></ion-icon></span>
        <span><ion-icon name="star"></ion-icon></span>
        <span><ion-icon name="star"></ion-icon></span>
        <span><ion-icon name="star-outline"></ion-icon></span>
        <span><ion-icon name="star-outline"></ion-icon></span>
      </div>
      <div class="review__info__name">soft</div>
      <div class="review__info__date">2021.01.30</div>
    </div>
    <div class="review__text">
      이 도안이 이 가격이라고요 당장 구매하세요. 설명도 자세하고 친절해요
    </div>
    <hr />
  </div>
</ion-content>
