.review {
  font-family: "Pretendard-Light";
  font-size: 16px;
  margin: 3px 5px;
  padding: 3px 5px;
  font-family: "Pretendard-Light";
  &__icon {
    display: flex;
    flex-direction: row;
    margin: auto 0;
  }
  &__text {
    margin: 10px 0px;
    padding: 5px 0px;
    font-family: "Pretendard-Light";
  }
  &__button {
    display: flex;
    justify-content: right;
    ion-button {
      color: var(--ion-color-theme-shade);
    }
  }
  &__image {
    display: flex;
    flex-direction: row;
    &__el {
      width: 80px;
      height: 80px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__delete {
    display: flex;
    justify-content: right;
    ion-button {
      font-size: 15px;
      margin-bottom: 20px;
      color: var(--ion-color-theme);
    }
  }
  &__info {
    display: flex;
    flex-direction: row;
    margin: 8px 0px;
    &__star {
      padding-right: 10px;
      font-family: "Pretendard-Light";
      margin-top: auto;
    }
    &__name {
      font-family: "Pretendard-Light";
      font-size: 13px;
      margin: auto 0;
      margin-left: 10px;
    }
    &__date {
      font-family: "Pretendard-Light";
      font-size: 12px;
      padding: 5px 0px;
      margin-left: auto;
      //float: right;
    }
  }
}
