<div *ngFor="let review of reviewList">
  <div class="review__info">
    <div class="review__icon">
      <div *ngFor="let index of iconsArray">
        <ion-icon
          [ngStyle]="{
            color:
              index < parseFloat(review.rating) ? activeColor : defaultColor
          }"
          name="{{
            halfStar === 'true' &&
            review.rating - index > 0 &&
            review.rating - index <= 0.5
              ? halfIcon
              : index < round(parseFloat(review.rating))
              ? activeIcon
              : defaultIcon
          }}"
        ></ion-icon>
      </div>
    </div>
    <div class="review__info__name">{{ review.userNick }}</div>
    <div class="review__info__date">
      {{ review.createdAt | date: "YY/MM/dd HH:mm" }}
    </div>
  </div>
  <div class="review__text">{{ review.contents }}</div>
  <div *ngIf="isGoDetail" class="review__button">
    <ion-button
      fill="outline"
      class="outline"
      slot="clear"
      (click)="goDetailPage(review)"
    >
      자세히 보기
    </ion-button>
  </div>

  <ion-button fill="clear" (click)="deleteReview(review)"> 삭제 </ion-button>

  <hr />
</div>
