// 재사용을 위한 CSS 정의입니다.
body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", Nanum Barun Gothic, "나눔 고딕", Malgun Gothic,
    "맑은 고딕", "Apple SD Gothic Neo", "돋움", "Dotum", Gulim, "굴림", Arial,
    Sans-serif, Century Gothic, Sans-serif;
  font-size: 16px;
  color: #362d54;
  letter-spacing: 0px;
}

hr {
  background-color: rgba(13, 36, 13, 0.109);
  border: 0px;
  height: 1px;
  margin: 0px;
}

ion-searchbar.custom {
  color: rgba(1, 15, 1, 0.4);
  --box-shadow: white;
  --border-radius: 10px;
}

ion-button.outline {
  font-family: "Pretendard-Light";
  --background: white;
  --border-radius: 100px;
  --color: rgb(47, 56, 47);
  --box-shadow: none;
  --border-color: rgba(1, 15, 1, 0.182);
  --border-width: 1px;
  padding: 0px 10px;
  display: block;
  font-size: 14px;
  height: 45px;
}

ion-button.outline_n_fill {
  font-family: "Pretendard-Light";
  --background: var(--ion-color-theme);
  --border-radius: 100px;
  --color: rgb(47, 56, 47);
  --box-shadow: none;
  --border-color: rgba(1, 15, 1, 0.182);
  --border-width: 1px;
  padding: 0px 10px;
  display: block;
  font-size: 14px;
  height: 45px;
}

ion-chip {
  color: var(--ion-color-theme-shade);
}

ion-back-button {
  color: var(--ion-color-theme);
}
ion-toolbar.custom-back {
  ion-icon {
    color: var(--ion-color-theme-shade);
  }
}
// font

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

@font-face {
  font-family: "Comfortaa-Bold";
  src: url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap")
    format("woff2");
}

@font-face {
  font-family: "Pretendard-Black";
  src: local("Pretendard-Black"),
    url("../assets/fonts/Pretendard/web/static/woff2/Pretendard-Black.woff2")
      format("woff2");
}
@font-face {
  font-family: "Pretendard-Bsold";
  src: local("Pretendard-Bold"),
    url("../assets/fonts/Pretendard/web/static/woff2/Pretendard-Bold.woff2")
      format("woff2");
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: local("Pretendard-ExtraBold"),
    url("../assets/fonts/Pretendard/web/static/woff2/Pretendard-ExtraBold.woff2")
      format("woff2");
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: local("Pretendard-ExtraLight"),
    url("../assets/fonts/Pretendard/web/static/woff2/Pretendard-ExtraLight.woff2")
      format("woff2");
}
@font-face {
  font-family: "Pretendard-Light";
  src: local("Pretendard-Light"),
    url("../assets/fonts/Pretendard/web/static/woff2/Pretendard-Light.woff2")
      format("woff2");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: local("Pretendard-Medium"),
    url("../assets/fonts/Pretendard/web/static/woff2/Pretendard-Medium.woff2")
      format("woff2");
}
@font-face {
  font-family: "Pretendard-Regular";
  src: local("Pretendard-Regular"),
    url("../assets/fonts/Pretendard/web/static/woff2/Pretendard-Regular.woff2")
      format("woff2");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: local("Pretendard-SemiBold"),
    url("../assets/fonts/Pretendard/web/static/woff2/Pretendard-SemiBold.woff2")
      format("woff2");
}
@font-face {
  font-family: "Pretendard-Thin";
  src: local("Pretendard-Thin"),
    url("../assets/fonts/Pretendard/web/static/woff2/Pretendard-Thin.woff2")
      format("woff2");
}
