.toolbar {
  --background: var(--ion-color-theme);
}

ion-button {
  --background: var(--ion-color-theme);
}

.card__wrapper {
  width: 100%;
  margin: 0 auto;
}
ion-infinite-scroll {
  margin-top: 30px;
}
