<app-toolbar></app-toolbar>

<ion-searchbar
  [debounce]="1300"
  (click)="goSearchPatternPage()"
  class="custom"
  color="light"
  placeholder="검색하기"
></ion-searchbar>
<ion-content>
  <!-- <h1>{{results}}</h1> -->
  <!-- <ion-item>
    <ion-input
      type="number"
      placeholder="min index"
      [(ngModel)]="min"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      type="number"
      placeholder="max index"
      [(ngModel)]="max"
    ></ion-input>
  </ion-item>
  <h3 *ngIf="nowIndex !== -1">get api index :{{nowIndex}}</h3> -->
  <!-- <ion-button (click)="getAndFetchPatternData()"> 패턴 api 호출 </ion-button> -->
  <app-pattern-grid [patternList]="patternList"></app-pattern-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="circular"
      loadingText="새로운 도안을 불러오는 중 입니다."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
