<app-toolbar></app-toolbar>


<ion-content [fullscreen]="true">
  <ion-searchbar
    class="searchbar"
    color="light"
    placeholder="검색하기"
  ></ion-searchbar>
  <ion-item>
    <ion-input
    type="number"
    placeholder="min index"
    [(ngModel)]="min"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
       type="number"
       placeholder="max index"
       [(ngModel)]="max"
       ></ion-input>
  </ion-item>
  <h3 *ngIf="nowIndex !== -1" >get api index :{{nowIndex}} </h3>
  <ion-button 
    (click) = "getRaverlyApi()"
  >
    패턴 api 호출
  </ion-button>
  <ion-list *ngIf="patternList" class="list__wrapper">
    <div
      *ngFor="let pattern of patternList"
      class="card__wrapper"
      (click)="openPatternDetailModal(pattern)"
    >
      <div class="image__square">
        <img src="{{pattern.thumbnail}}" (error)="onImageError($event)" />
        <ion-icon 
          name="heart-outline"
          class="heart"
          *ngIf="!pattern.isFavorite"
          (click)="enrollFavoritePattern($event, pattern)"
        ></ion-icon>
        <ion-icon 
          name="heart"
          class="heart--fill"
          *ngIf="pattern.isFavorite"
          (click)="enrollFavoritePattern($event, pattern)"
        ></ion-icon>
      </div>
    </div>
  </ion-list>


 </ion-content> 

 
  
