<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="review__wrapper">
    <h4>리뷰 작성하기</h4>
    <div class="small-title">별점</div>
    <app-star-rating (ratingChanged)="onChangeRating($event)">
    </app-star-rating>
    <div class="small-title">내용</div>
    <ion-textarea
      placeholder="도안에 대한 평가를 작성해 주세요"
      [clearOnEdit]="true"
      (ionChange)="onChangeTextarea($event)"
    ></ion-textarea>
    <div class="small-title">사진</div>
    <app-photo-multi
      [imgSrcList]="certifyImages"
      (imgSrcListChange)="certifyImagesChange($event)"
    ></app-photo-multi>

    <ion-button class="outline_n_fill" fill="outline" (click)="saveReview()">
      등록
    </ion-button>
  </div>
</ion-content>
