<app-toolbar></app-toolbar>

<ion-content>
  <ion-searchbar
    [debounce]="1300"
    (ionChange)="handleChange($event)"
    class="custom"
    color="light"
    placeholder="검색하기"
  ></ion-searchbar>
  <ion-list *ngIf="patternList.length > 0" class="list__wrapper">
    <div
      *ngFor="let pattern of patternList"
      class="card__wrapper"
      (click)="goPatternDetailPage(pattern)"
    >
      <div class="image__square">
        <img src="{{pattern.thumbnail}}" (error)="onImageError($event)" />
        <ion-icon
          name="heart-outline"
          class="heart"
          *ngIf="!pattern.isFavorite"
          (click)="enrollFavoritePattern($event, pattern)"
        ></ion-icon>
        <ion-icon
          name="heart"
          class="heart--fill"
          *ngIf="pattern.isFavorite"
          (click)="enrollFavoritePattern($event, pattern)"
        ></ion-icon>
      </div>
    </div>
  </ion-list>
</ion-content>
