<app-toolbar></app-toolbar>

<ion-content [fullscreen]="true">
  <ion-searchbar
    [debounce]="1300"
    (ionChange)="handleChange($event)"
    class="searchbar"
    color="light"
    placeholder="검색하기"
  ></ion-searchbar>
  <h1>{{results}}</h1>

  <ion-list *ngIf="yarnList" class="list__wrapper">
    <div
      *ngFor="let yarn of yarnList"
      class="card__wrapper"
      (click)="goYarnDetailPage(yarn)"
    >
      <div class="image__square">
        <img src="{{yarn.thumbnail}}" (error)="onImageError($event)" />
        <ion-icon
          name="heart-outline"
          class="heart"
          *ngIf="!yarn.isFavorite"
          (click)="enrollFavoriteYarn($event, yarn)"
        ></ion-icon>
        <ion-icon
          name="heart"
          class="heart"
          *ngIf="yarn.isFavorite"
          (click)="enrollFavoriteYarn($event, yarn)"
        ></ion-icon>
      </div>
    </div>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="circular"
      loadingText="상품 리스트를 불러오는 중 입니다."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
