<app-toolbar></app-toolbar>


<ion-content [fullscreen]="true">
    <ion-searchbar
    class="searchbar"
    color="light"
    placeholder="검색하기"
  ></ion-searchbar>
  
  <ion-list *ngIf="yarnList" class="list__wrapper">
    <div
      *ngFor="let yarn of yarnList"
      class="card__wrapper"
      (click)="openYarnDetailModal(yarn)"
    >
      <div class="image__square">
        <img src="{{yarn.thumbnail}}" (error)="onImageError($event)" />
        <ion-icon 
          name="heart-outline"
          class="heart"
          *ngIf="!yarn.isFavorite"
          (click)="enrollFavoriteYarn($event, yarn)"
        ></ion-icon>
        <ion-icon 
          name="heart"
          class="heart"
          *ngIf="yarn.isFavorite"
          (click)="deleteFavoriteYarn($event, yarn)"
        ></ion-icon>
      </div>
    </div>
  </ion-list>
</ion-content>
