<app-toolbar></app-toolbar>

<ion-content [fullscreen]="true">
  <ion-searchbar
    [debounce]="1300"
    (click)="goSearchYarnPage()"
    class="custom"
    color="light"
    placeholder="검색"
  ></ion-searchbar>
  <h1>{{results}}</h1>

  <app-yarn-grid [yarnList]="yarnList"></app-yarn-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="circular"
      loadingText="새로운 실을 불러오는 중 입니다."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
