.content__wrapper {
  display: flex;
  padding: 10px;
  justify-content: center;

  .info {
    &__title {
      font-family: "Pretendard-Medium";
      font-size: 30px;
    }
    &__user {
      font-family: "Pretendard-Medium";
      font-size: 20px;
      margin-top: 10px;
    }
  }
}
ion-segment {
  height: 70px;
}

.button__wrapper {
  margin: 20px;
}

.result__wrapper {
  justify-content: center;
  margin: 30px;
}

span {
  color: red;
}
h2 {
  margin: none;
}
div {
  font-family: "Pretendard-Light";
  font-size: 20px;
}

.spinner {
  display: flex;
  justify-content: center;
  ion-spinner {
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--ion-color-theme-shade);
  }
}
