<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        defaultHref="tabs/main"
        icon="chevron-back-outline"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content__wrapper">
    <div class="info">
      <div class="info__title">경품 뽑기</div>
      <div class="info__user" *ngIf="user">
        당신의 티켓 수 : {{user.ticket}}
      </div>
      <div>6가지 아이템 중 하나를 골라보세요.</div>
    </div>
  </div>

  <ion-segment
    [scrollable]="true"
    (ionChange)="onChangeSegment($event)"
    color="success"
    value="0"
  >
    <ion-segment-button value="0">
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-icon name="globe"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-icon name="barbell"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="4">
      <ion-icon name="trash"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="5">
      <ion-icon name="person"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="6">
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="7">
      <ion-icon name="basket"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <div class="button__wrapper">
    <ion-button class="outline_n_fill" (click)="onSelectSegment()"
      >고르기</ion-button
    >
  </div>
  <div *ngIf="rating !== -1" class="result__wrapper">
    <div>축하합니다!</div>
    <h1><span>{{rating}}등</span>에 당첨되셨습니다!</h1>
    <div>이 화면을 예은이나 다솜이에게 보여주세요.</div>
    <div>먼 길 자리해주셔서 감사합니다.</div>
    <div>가는 길도 살펴 가세요.</div>
  </div>
</ion-content>
