.toolbar{
    --background:#95C597;
}

ion-button {
    --background: var(--ion-color-theme)
}

.container {
  &__products {
    background: white;
    margin: 3.2vw 3vw;
    padding: 0 3.2vw;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    
    .contents {
      min-width: 31vw;
      display: flex;
      flex-direction: column;
      margin: 0 1.2vw;
      .image {
        width: 31vw;
        height: 35vw;
        img {
          border-radius: 7px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.community__wrapper{
 
}


.main__wrapper{
  padding: 10px;
}



