<app-toolbar></app-toolbar>

<ion-content [fullscreen]="true">
  <!-- <ion-item>
      <ion-input
      type="number"
      placeholder="min index"
      [(ngModel)]="min"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
         type="number"
         placeholder="max index"
         [(ngModel)]="max"
         ></ion-input>
    </ion-item>
    <h3 *ngIf="nowIndex !== -1" >get api index :{{nowIndex}} </h3>
    <ion-button 
      (click) = "getRaverlyApi()"
    >
      실 api 호출
    </ion-button> -->
  <ion-refresher slot="fixed" (ionRefresh)="refreshMain($event)">
    <ion-refresher-content pullingIcon="" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="user&&user.isSetProfile=='Y'">
    <div class="contents__wrapper">
      <div class="user-set-profile">
        <div class="section-title">
          <div *ngIf="viewState===0">
            <span *ngIf="user.proficiency===0" class="section-title__nick">
              초보
            </span>
            <span *ngIf="user.proficiency===0"> 를 위한 쉬운 도안 </span>
            <span *ngIf="user.proficiency===1" class="section-title__nick">
              중수
            </span>
            <span *ngIf="user.proficiency===1"> 를 위한 다양한 도안 </span>
            <span *ngIf="user.proficiency===2" class="section-title__nick">
              고수
            </span>
            <span *ngIf="user.proficiency===2">
              를 위한 도전! 어려운 도안
            </span>
          </div>
          <div *ngIf="viewState===1">
            <span class="section-title__nick"> 코바늘 </span>
            <span> 사용자를 위한 도안 </span>
          </div>
          <div *ngIf="viewState===2">
            <span class="section-title__nick"> 대바늘 </span>
            <span> 사용자를 위한 도안 </span>
          </div>
        </div>
        <div class="recommend-list">
          <app-recommend-list
            [patternList]="patternListForUser"
          ></app-recommend-list>
        </div>
      </div>
    </div>
    <hr />
  </div>

  <div class="user-not-profile" *ngIf="!user||(user && user.isSetProfile=='N')">
    <div class="contents__wrapper">
      <div class="section-title">
        <div *ngIf="!user">실 추천</div>
        <div *ngIf="user">
          <span class="section-title__nick"> {{user.nick}} </span>
          <span>님을 위한 실 추천 </span>
        </div>
      </div>
      <div *ngIf="yarnList.length > 0" class="container__products">
        <div
          *ngFor="let yarn of yarnList"
          (click)="goYarnDetailPage(yarn)"
          class="contents"
        >
          <div class="image">
            <img src="{{ yarn.thumbnail }}" />
            <ion-icon
              name="heart-outline"
              class="heart"
              *ngIf="!yarn.isFavorite"
              (click)="enrollFavoriteYarn($event, yarn)"
            ></ion-icon>
            <ion-icon
              name="heart"
              class="heart"
              *ngIf="yarn.isFavorite"
              (click)="enrollFavoriteYarn($event, yarn)"
            ></ion-icon>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="contents__wrapper">
      <div class="section-title">
        <div *ngIf="!user">패턴 추천</div>
        <div *ngIf="user">
          <span class="section-title__nick"> {{user.nick}} </span>
          <span> 님을 위한 패턴 추천 </span>
        </div>
      </div>
      <div *ngIf="patternList.length > 0" class="container__products">
        <div
          *ngFor="let pattern of patternList"
          (click)="goPatternDetailPage(pattern)"
          class="contents"
        >
          <div class="image">
            <img src="{{ pattern.thumbnail }}" />
            <ion-icon
              name="heart-outline"
              class="heart"
              *ngIf="!pattern.isFavorite"
              (click)="enrollFavoritePattern($event, pattern)"
            ></ion-icon>
            <ion-icon
              name="heart"
              class="heart--fill"
              *ngIf="pattern.isFavorite"
              (click)="enrollFavoritePattern($event, pattern)"
            ></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <div class="community__title"><h5>커뮤니티 인기글</h5></div>

  <app-post-list [postList]="postList"> </app-post-list>
</ion-content>
