
<app-toolbar></app-toolbar>

<ion-content [fullscreen]="true">
  <div class="main__wrapper">
    <ion-header collapse="condense">
    </ion-header>
    <ion-item>
      <ion-input
      type="number"
      placeholder="min index"
      [(ngModel)]="min"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
         type="number"
         placeholder="max index"
         [(ngModel)]="max"
         ></ion-input>
    </ion-item>
    <h3 *ngIf="nowIndex !== -1" >get api index :{{nowIndex}} </h3>
    <ion-button 
      (click) = "getRaverlyApi()"
    >
      실 api 호출
    </ion-button>
    <h5>실 추천</h5> 
    <div *ngIf="yarnList.length > 0" class="container__products">
      <div
        *ngFor="let yarn of yarnList"
        (click)="goYarnDetailPage(yarn)"
        class="contents">
        <div class="image">
          <img src="{{ yarn.thumbnail }}" (error)="onImageError($event)" />
        </div>
      </div>
    </div>
    <h5>패턴 추천</h5>  
    <div *ngIf="patternList.length > 0" class="container__products">
      <div
        *ngFor="let pattern of patternList"
        (click)="goPatternDetailPage(pattern)"
        class="contents"
      >
        <div class="image">
          <img src="{{ pattern.thumbnail }}" (error)="onImageError($event)" />
        </div>
      </div>
    </div>
    <h5>커뮤니티 인기글</h5>   
      <app-post-list
        [postList]="postList"
      >
      </app-post-list>
  </div>
  </ion-content>
