.toolbar {
  --background: var(--ion-color-theme);
}

ion-button {
  --background: var(--ion-color-theme);
}
ion-refresher {
  position: relative;
}

.container {
  &__products {
    background: white;
    margin: 10px 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    font-family: "Pretender-Regular";
    .contents {
      min-width: 121px;
      display: flex;
      flex-direction: column;
      margin: 0 5px;
      .image {
        width: 121px;
        height: 137px;
        position: relative;
        img {
          position: absolute;
          border-radius: 7px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.heart {
  position: absolute;
  right: 0.7rem;
  bottom: 0.7rem;
  color: #ea3d51;
  font-size: 20px;
  &--fill {
    position: absolute;
    right: 0.7rem;
    bottom: 0.7rem;
    color: #ea3d51;
    font-size: 20px;
  }
}

.contents__wrapper {
  padding: 10px;
}

.community__title {
  padding-left: 10px;
  h5 {
    margin-bottom: 0px;
  }
}

.section-title {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  &__nick {
    font-family: "Pretendard-Semibold";
    color: var(--ion-color-theme-shade);
  }
}

.recommend-list {
  margin: 10px 0px;
}

.loading-text {
  display: flex;
  justify-content: center;
  font-family: "Pretendard";
  margin: 30px 0px 30px 0px;
  color: var(--ion-color-theme-shade);
}
