.toolbar {
  --background: var(--ion-color-theme);
}

ion-button {
  --background: var(--ion-color-theme);
}

.container {
  &__products {
    background: white;
    margin: 2.5vw 0vw;
    padding: 0vw;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    font-family: "Pretender-Regular";
    .contents {
      min-width: 31vw;
      display: flex;
      flex-direction: column;
      margin: 0 1.2vw;
      .image {
        width: 31vw;
        height: 35vw;
        position: relative;
        img {
          position: absolute;
          border-radius: 7px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.heart {
  position: absolute;
  right: 0.7rem;
  bottom: 0.7rem;
  color: #ea3d51;
  font-size: 20px;
  &--fill {
    position: absolute;
    right: 0.7rem;
    bottom: 0.7rem;
    color: #ea3d51;
    font-size: 20px;
  }
}

.contents__wrapper {
  padding: 2vw;
}

.community__title {
  padding-left: 4vw;
  h5 {
    margin-bottom: 0px;
  }
}

.section-title {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  &__nick {
    color: var(--ion-color-theme-shade);
  }
}

.recommend-list {
  margin: 2.5vw 0vw;
}
