
<app-toolbar></app-toolbar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-item>
    <ion-input
    type="number"
    placeholder="min index"
    [(ngModel)]="min"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
       type="number"
       placeholder="max index"
       [(ngModel)]="max"
       ></ion-input>
  </ion-item>
  <h3 *ngIf="nowIndex !== -1" >get api index :{{nowIndex}} </h3>
  <ion-button 
    (click) = "getRaverlyApi()"
  >
    실 api 호출
  </ion-button>
  <div class="small-title"> >실 추천 </div>
  <div *ngIf="yarnList.length > 0" class="container__products">
    <div
      *ngFor="let yarn of yarnList"
      (click)="goYarnDetailPage(yarn)"
      class="contents"
    >
      <div class="image">
        <img src="{{ yarn.thumbnail }}" (error)="onImageError($event)" />
      </div>
    </div>
  </div>
  <div class="small-title"> >패턴 추천 </div>
    <div *ngIf="patternList.length > 0" class="container__products">
    <div
      *ngFor="let pattern of patternList"
      (click)="goPatternDetailPage(pattern)"
      class="contents"
    >
      <div class="image">
        <img src="{{ pattern.thumbnail }}" (error)="onImageError($event)" />
      </div>
    </div>
  </div>


  </ion-content>
