<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="signup__wrapper">
            <h4>Create your account!</h4>
            <ion-item>
              <ion-input
                name="id"
                type="text"
                placeholder="id"
                formControlName="id"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                name="nickname"
                type="text"
                placeholder="nickname"
                formControlName="nickname"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                name="email"
                type="email"
                placeholder="xxxx@email.com"
                formControlName="email"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                name="password"
                type="password"
                placeholder="Password"
                formControlName="password"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                name="confirm"
                type="password"
                placeholder="Password again"
                formControlName="confirm"
              ></ion-input>
            </ion-item>
            <div class="button__wrapper">
              <ion-button
                class="outline_n_fill"
                size="large"
                type="submit"
                expand="block"
                >회원가입하기</ion-button
              >
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
