<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="tag_list">
    <h4><span>선호 카테고리</span>를 선택해 주세요</h4>
    <div class="tags" *ngFor="let attribute of patternAttributeList">
      <div
        class="custom_chip_button"
        [ngStyle]="attribute.isSelected ? selectedStyle : notSelectedStyle"
        (click)="selectAttribute(attribute, $event)"
      >
        {{ attribute.attribute }}
      </div>
    </div>
  </div>
  <div class="button-wrapper">
    <ion-button
      class="outline_n_fill"
      fill="outline"
      (click)="saveFavoriteAttribute()"
    >
      저장하기
    </ion-button>
  </div>
</ion-content>
