h3 {
  font-family: "Pretendard-Light";
  span {
    font-family: "Pretendard-Medium";
  }
}
.button-wrapper {
  margin: 20px;
}
.tag_list {
  margin-left: 20px;
  margin-right: 20px;

  .tags {
    display: inline-block;

    .custom_chip_button {
      font-family: "Pretendard-Light";
      font-size: 15px;
      border-radius: 100px;
      margin: 4px;
      padding: 6px 12px;
    }
  }
}
