<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="mypage__wrapper">
    <div class="nickname" *ngIf="user">
        <div class="nickname__text">
          안녕하세요 {{user.nick}} 님
        </div>
        <ion-button 
          (click)="changeNickName()">
           닉네임 변경하기
        </ion-button>

        <div class="nickname__change" *ngIf="isChangeNickName"> 
          <h3>닉네임 변경</h3>
          <div class="nickname__change__input">
            <ion-input [(ngModel)]="nickname" [disabled]="!isChangeNickName"></ion-input>  
            <ion-button (click)="saveChangeNickName()" fill="clear">
              확인
            </ion-button>
          </div>
      
        </div>
    </div>

    <div>
      <ion-button 
      (click)="logout()"
      >
        로그아웃하기 
      </ion-button>
    </div>
  </div>

</ion-content>