<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="mypage__wrapper">
    <div class="nickname" *ngIf="user">
      <ion-icon name="person-circle-outline"></ion-icon>
      <div class="nickname__text">{{ user.nick }}</div>
      <ion-button
        class="nickname__change__btn1"
        fill="clear"
        (click)="openChangeNickAlert()"
        *ngIf="!isChangeNickName"
      >
        닉네임 변경하기
      </ion-button>
    </div>

    <div class="preference">
      <h3>선호 바늘</h3>
      <div class="prefernece__checkbox">
        <div class="prefernece__checkbox__list1">
          <ion-checkbox slot="start"></ion-checkbox>
          <span>코바늘</span>
        </div>
        <div class="prefernece__checkbox__list1">
          <ion-checkbox slot="start"></ion-checkbox>
          <span>대바늘</span>
        </div>
      </div>
    </div>

    <div class="difficulty">
      <h3>숙련도</h3>
      <ion-select placeholder="난이도 선택">
        <ion-select-option value="apples">초보</ion-select-option>
        <ion-select-option value="oranges">중수</ion-select-option>
        <ion-select-option value="bananas">고수</ion-select-option>
      </ion-select>
    </div>

    <div class="category">
      <h3>선호 카테고리</h3>
      <ion-chip color="success">female</ion-chip>
      <ion-chip color="success">stripes</ion-chip>
      <ion-chip color="success">one-piece</ion-chip>
      <ion-chip color="success">scarf</ion-chip>
    </div>

    <div class="logout">
      <ion-button (click)="logout()"> 로그아웃하기 </ion-button>
    </div>
  </div>
</ion-content>
